extends ../masterpage/layout-list

append scripts
	script(type='text/javascript', src='../js/filters.js')

prepend content
	block filter
		label 
			input(
				type='checkbox'
				data-toggle='album-only'
				checked=(album_only == '1' ? "checked" : undefined)
			)
			| &nbsp;Only show albums

append table-content
	// releases::table-content
	thead
		tr
			th Artist
			th Album
			th Type
			th Release date
	tbody
		each val in releases
			tr(data-type='album')
				td(data-search='artist') #{val.artist}
				td(data-search='album') #{val.album}
				td #{val.type}
				td(data-property='utc') #{moment(val.release_date).format('L')}