extends ../masterpage/layout-list

prepend content
	include ../navigation/tab-timeline

append scripts
	script(src='/vendor/js/chart.min.js', type='text/javascript')
	script(src='/js/timeline.js', type='text/javascript')

append before-table
	canvas#chart

append table-content
	// timeline::table-content
	thead
		tr
			th(data-id='period') #{periodLabel}
			th Artist
			th.hidden Ranking
			th Scrobbles
	tbody
		each artist in artists
			tr(
				data-type='artist'
				class=({'hidden': artist.rank > 1})
			)
				td(data-id='period') #{artist.period}
				td(data-search='artist') #{artist.artist}
				td.hidden(data-id='rank') #{artist.rank}
				td(
					class=(topResult ? "progress-td" : undefined)
					data-scrobbles=artist.scrobbles
				)
					if topResult
						- var value = artist.scrobbles
						- var total = topResult.scrobbles
						include ../shared/progress

					else
						| #{artist.scrobbles}
