extends ../masterpage/layout-list

append table-content
	// top-artists::table-content

	thead
		tr
			th Artist
			th Scrobbles
	tbody
		each artist in artists
			tr
				td #{artist.artist}
				td(class=(topResult ? "progress-td" : undefined))
					if topResult
						.progress
							- var percentage = Math.round(artist.scrobbles/topResult.scrobbles*100)
							.progress-bar(
								class="w-" + percentage,
								role="progressbar",
								aria-valuenow=percentage,
								aria-valuemin="0" ,
								aria-valuemax="100",
								style="width:" + percentage + "%"
							)
								| #{artist.scrobbles}
					else
						| #{artist.scrobbles}
